@import 'vars';

.homepage-list-box {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 2vh;
  flex-direction: column;
  transition: .1s transform ease-in;
  text-decoration: none;

  &:nth-child(5n + 1) {
    background: $pink;
    border-color: $pink;
  }

  &:nth-child(5n + 2) {
    background: $yellow;
    border-color: $yellow;
  }

  &:nth-child(5n + 3) {
    background: $brown;
    border-color: $brown;
  }

  &:nth-child(5n + 4) {
    background: $blue;
    border-color: $blue;
  }

  &:nth-child(5n + 5) {
    background: $purple;
    border-color: $purple;
  }

  @media (min-width: $break-md) {
    width: 49%;
    margin-bottom: 2%;
  }

  @media (min-width: $break-lg) {
    width: 32%;
    margin-bottom: 2%;

    &:last-of-type {
      background: blue !important;
    }
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);
    }
  }
}

.homepage-list-box--pink {
  background: $pink;
  border-color: $pink;
}

.homepage-list-box--yellow {
  background: $yellow;
  border-color: $yellow;
}

.homepage-list-box--brown {
  background: $brown;
  border-color: $brown;
}

.homepage-list-box--blue {
  background: $blue;
  border-color: $blue;
}

.homepage-list-box--purple {
  background: $purple;
  border-color: $purple;
}

.homepage-list-box__img-harness {
  display: block;
  position: relative;
}

.homepage-list-box__img {
  display: block;
  position: relative;
  height: 0;
  padding-top: 60%;
  overflow: hidden;
}

.homepage-list-box__tags {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px;
  pointer-events: none;
}

.homepage-list-box__inner {
  display: block;
  position: relative;
  padding: 12px 20px;
  height: 100%;
  line-height: 1;
}

.homepage-list-box__title {
  display: block;
  position: relative;

  font-family: $cera-stencil-pro-medium;
  font-size: 34px;
  color: white;
  letter-spacing: -.85px;

  @media (min-width: $break-md) {
    font-size: 35px;
  }

  @media (min-width: $break-lg) {
    font-size: 35px;
  }
}

.homepage-list-box__subtitle {
  display: block;
  position: relative;
  margin-top: 2px;

  font-size: 18px;
  color: white;

  @media (min-width: $break-md) {
    font-size: 28px;
  }

  @media (min-width: $break-lg) {
    font-size: 28px;
  }
}

.homepage-list-box__preview-text {
  display: block;
  position: relative;

  font-size: 13px;
  line-height: 1.4;

  @media (min-width: $break-md) {
    font-size: 14px;
  }

  @media (min-width: $break-lg) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.homepage-list-box__more-button-harness {
  display: block;
  position: relative;
  margin-top: 20px;
}

$more-button-border: .5px solid rgba(black, .1);
$more-button-border-transparent: .5px solid transparent;

.homepage-list-box__more-button {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 50%;
  padding: 10px;
  border-top: $more-button-border;
  border-bottom: $more-button-border-transparent;
  border-left: $more-button-border-transparent;
  border-right: $more-button-border;
  outline: none;

  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 1;

  @media (hover: hover) {
    &:hover {
      background: white;
      border-right: $more-button-border-transparent;
      border-top: $more-button-border-transparent;

      .homepage-list-box--pink & {
        color: $pink;
        border-color: $pink;
      }

      .homepage-list-box--yellow & {
        color: $yellow;
        border-color: $yellow;
      }

      .homepage-list-box--brown & {
        color: $brown;
        border-color: $brown;
      }

      .homepage-list-box--blue & {
        color: $blue;
        border-color: $blue;
      }

      .homepage-list-box--purple & {
        color: $purple;
        border-color: $purple;
      }
    }
  }
}

@media print {
  .homepage-list-box__img-harness{
    display:none;
  }
  .homepage-list-box__title{
    font-family: 'CeraPRO-Medium';
    font-size: 22px;
  }
  .homepage-list-box__info{
    font-size: 15px;
  }
  .homepage-list-box{
    margin-bottom: 5px;
  }
}
