@import 'vars.scss';

.index__title {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;

  font-family: $baron-neue-black;
  font-size: 27px;
  color: white;
  line-height: 1.1;
  text-shadow: 0 0 30px rgba(0, 0, 0, .95);

  @media (min-width: $break-xsm) {
    font-size: 31px;
  }

  @media (min-width: $break-md) {
    font-size: 33px;
  }

  @media (min-width: $break-lg) {
    font-size: 38px;
    max-width: 700px;
  }
}

.index__subtitle {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  font-family: $baron-neue;
  font-size: 16px;
  color: white;
  line-height: 1.1;
  text-shadow: 0 0 30px rgba(0, 0, 0, .95);

  @media (min-width: $break-xsm) {
    font-size: 18px;
  }

  @media (min-width: $break-md) {
    font-size: 20px;
  }

  @media (min-width: $break-lg) {
    font-size: 22px;
    max-width: 700px;
  }
  p{
    word-spacing: normal !important;
  }
}
.index__dark-layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, .2);
}

.quicklinks {
  position: absolute;
  bottom: 15px;

  @media (min-width: $break-md) {
    bottom: 40px;
  }
}

.quicklinks__inner {
    position: absolute;
    width: 5rem;

    bottom: 5rem;
    text-align: center;
    right: 3rem;
    justify-content: space-between;

    @media (min-width: $break-xsm) {
      width: 18rem;
    }

    @media (min-width: $break-md) {
      width: 19rem;
    }

    @media (min-width: 850px) {
      width: 20rem;
    }

    @media (min-width: 1150px) {
      width: 20rem;
    }
}

.quicklinks__link {
  display: inline-block;
  position: relative;
  padding: 6px 5px 4px;
  border: .5px solid rgba(white, .6);
  margin-top: 7px;
  background: white;
  font-family: $baron-neue;
  font-size: 20px;
  color: black;
  line-height: .9;
  text-decoration: none;
  text-transform: uppercase;

  margin-bottom: 10px;
  @media (hover: hover) {
    &:hover {
      background: rgba(black, .1);;
      color: white;
    }
  }

  @media (min-width: $break-xsm) {
    font-size: 24px;
    margin-bottom: 10px;

  }

  @media (min-width: $break-md) {
    display: block;
    font-size: 26px;
    padding: 6px 12px 5px;
    margin-top: auto;
    margin-bottom: 10px;
  }

  @media (min-width: 850px) {
    display: block;
    font-size: 29px;
    padding: 6px 12px 5px;
    margin-bottom: 10px;
    margin-top: auto;
  }

  @media (min-width: 1150px) {
    display: block;
    padding: 6px 12px 5px;
    margin-bottom: 10px;
    margin-top: auto;
  }
}



.index__news-section{
  background: #747235;
  min-height: 300px;
  padding-top: 30px;
}
.index__news-btn{
   background: #747235;
  padding-bottom: 30px;
 }

.pb-3{
  padding-bottom: 1.5rem;
}