@import 'vars';

.job-listing__title {
  display: block;
  position: relative;

  font-family: $baron-neue;
  font-size: 45px;
  color: $primaryC;
}

.job-listing__list {
  list-style-type: none;
  margin: 50px 0 0 0;
  // margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.job-listing__list-item {
  margin-bottom: 5px;
}

.job-listing__list-item::before {
  content: '→ ';
}

.job-listing-item-link {
  display: block;
  position: relative;
  margin-top: 20px;
}

.job-listing-item-link__link {
  display: inline-block;
  position: relative;

  color: $primaryC;
  text-decoration: none;
  outline: none;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}
