@import 'vars';
@import 'button';

/* standard setup */
html, body {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;

  //background: $purple;
  font-family: $cera-pro-regular, 'Arial', 'SansSerif';
  font-size: 18px;
  letter-spacing: -0.16px;
  line-height: 1.3;
  font-variant-numeric: lining-nums;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $break-md) {
    font-size: 18px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  outline: none;
}

.strip {
  display: block;
  position: relative;
  width: 100%;
}

.strip--pad-top-small {
  margin-top: 20px;
}

.strip--pad-top-big {
  margin-top: 50px;
}

.strip--tags {
  border-top: $feint-border;
  padding: 14px 0 12px;
}

.strip--tags-last {
  border-bottom: $feint-border;
}

.strip--beige {
  background: $beige;
}

.strip__middle {
  display: block;
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.strip__middle--central {
  max-width: $max-text-width;
}

.limit-width {
  max-width: 720px;
}

.pad-sides {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $break-md) {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.full-bleed-strip {
  display: flex;
  position: relative;
  width: 100%;
  height: 84vh;
  align-items: center;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;

  @media (min-width: $break-md) {
    height: 92vh;
  }

  @media (min-width: $break-lg) {
    height: 100vh;
  }
}

.full-bleed-strip--16-9 {
  height: 56.25vw;
}
