@import 'fonts';

$break-xs: 320px;
$break-xsm: 375px;
$break-sm: 480px;
$break-laptop-height: 600px;
$break-640: 640px;
$break-md: 768px;
$break-lg: 992px;
$break-xlg: 1025px;

$max-width: 1280px;
$max-carousel-width: 1196px;
$max-text-width: 720px;
$gutter: 40px;

$primaryC: #708400;
$dark: #332f21;
$pink: #F05097;
$pink-dark: #bf3f7a;
$yellow: #FFB71B;
$brown: #747235;
$blue: #6DB1C7;
$purple: #722282;
$text-on-red: #F0DFD0;
$map-blue: #75BBD6;
$dark-blue: #0E1D49;
$beige: #F2EBE7;

$header-bg: rgba(white, .92);

$feint-border: 1px solid rgba(black, .2);
$mid-border: 1px solid rgba(black, .5);
